
header #login {
  background: #000;
  color: #fff;
}
header #show-sidebar {
  /* border: 2px solid #000; */
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

/* headear */
header {
  background: #fff;
  padding: 0;
  border-bottom: 2px solid #000;
}
header .container {
  margin: 0 0 0 16px;
}

header li a {
  padding: 8px;
}

header li + li {
  margin-left: 0;
}

header h1 img {
  vertical-align: middle;
  height: 48px;
}